@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #fef9f5;
}

.example-container {
  height: 100vh;
  width: 100vw;
}

mat-sidenav-container,
mat-sidenav-content {
  background-color: #fef9f5 !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
